Package: sparky-aptus-appcenter
Version: 20190116
Architecture: all
Maintainer: pavroo <pavroo@onet.eu>
Installed-Size: 1868
Depends: adduser, apt, coreutils, curl, dctrl-tools, dialog, dpkg, gdebi-core, gettext-base, grep, gawk, iputils-ping, sparky-su | ktsuss, sparky-apt, sparky-aptus-gamer (>= 0.2.0), sparky-editor, ssft, teamspeak-installer (>= 3.1.8.2), tilda, ultra-flat-icons, vmplayer-installer, vrms, wget, yad, zenity
Recommends: sparky-xterm, xterm
Section: System
Priority: optional
Homepage: https://sparkylinux.org
Description: APTus AppCenter
  This tool helps you keep your system up to date and clean, install and remove packages. It is a lightweight gui frontend to APT and DPKG tools.

